# Kulon Progo

In [ ]:
import requests
from bs4 import BeautifulSoup

# Send a GET request to the web page
url = "https://ikanku.kulonprogokab.go.id/Landingpage/harga_mingguan"
response = requests.get(url)

# Create a BeautifulSoup object to parse the HTML content
soup = BeautifulSoup(response.text, "html.parser")

# Find the table element containing the data
table = soup.find("table")

# Find all the rows in the table except the header row
rows = table.find_all("tr")[1:]

# Scrape the links from the "Aksi" column
links = []
for row in rows:
    link = row.find("a", href=True)
    if link:
        links.append(link["href"])

# Print the scraped links
for link in links:
    print(link)

https://ikanku.kulonprogokab.go.id/Landingpage/detail_harga/1
https://ikanku.kulonprogokab.go.id/Landingpage/detail_harga/25
https://ikanku.kulonprogokab.go.id/Landingpage/detail_harga/3
https://ikanku.kulonprogokab.go.id/Landingpage/detail_harga/4
https://ikanku.kulonprogokab.go.id/Landingpage/detail_harga/18
https://ikanku.kulonprogokab.go.id/Landingpage/detail_harga/6
https://ikanku.kulonprogokab.go.id/Landingpage/detail_harga/5
https://ikanku.kulonprogokab.go.id/Landingpage/detail_harga/21
https://ikanku.kulonprogokab.go.id/Landingpage/detail_harga/8
https://ikanku.kulonprogokab.go.id/Landingpage/detail_harga/10
https://ikanku.kulonprogokab.go.id/Landingpage/detail_harga/12
https://ikanku.kulonprogokab.go.id/Landingpage/detail_harga/11
https://ikanku.kulonprogokab.go.id/Landingpage/detail_harga/22
https://ikanku.kulonprogokab.go.id/Landingpage/detail_harga/23
https://ikanku.kulonprogokab.go.id/Landingpage/detail_harga/24
https://ikanku.kulonprogokab.go.id/Landingpage/detail_harga/14
https://ikanku.kulonprogokab.go.id/Landingpage/detail_harga/16
https://ikanku.kulonprogokab.go.id/Landingpage/detail_harga/15
https://ikanku.kulonprogokab.go.id/Landingpage/detail_harga/17
https://ikanku.kulonprogokab.go.id/Landingpage/detail_harga/19
https://ikanku.kulonprogokab.go.id/Landingpage/detail_harga/20

In [ ]:
len(links)

21

In [ ]:
import requests
from bs4 import BeautifulSoup

urls = [
    'https://ikanku.kulonprogokab.go.id/Landingpage/detail_harga/1',
    'https://ikanku.kulonprogokab.go.id/Landingpage/detail_harga/25',
    'https://ikanku.kulonprogokab.go.id/Landingpage/detail_harga/3',
    'https://ikanku.kulonprogokab.go.id/Landingpage/detail_harga/4',
    'https://ikanku.kulonprogokab.go.id/Landingpage/detail_harga/18',
    'https://ikanku.kulonprogokab.go.id/Landingpage/detail_harga/6',
    'https://ikanku.kulonprogokab.go.id/Landingpage/detail_harga/5',
    'https://ikanku.kulonprogokab.go.id/Landingpage/detail_harga/21',
    'https://ikanku.kulonprogokab.go.id/Landingpage/detail_harga/8',
    'https://ikanku.kulonprogokab.go.id/Landingpage/detail_harga/10',
    'https://ikanku.kulonprogokab.go.id/Landingpage/detail_harga/12',
    'https://ikanku.kulonprogokab.go.id/Landingpage/detail_harga/11',
    'https://ikanku.kulonprogokab.go.id/Landingpage/detail_harga/22',
    'https://ikanku.kulonprogokab.go.id/Landingpage/detail_harga/23',
    'https://ikanku.kulonprogokab.go.id/Landingpage/detail_harga/24',
    'https://ikanku.kulonprogokab.go.id/Landingpage/detail_harga/14',
    'https://ikanku.kulonprogokab.go.id/Landingpage/detail_harga/16',
    'https://ikanku.kulonprogokab.go.id/Landingpage/detail_harga/15',
    'https://ikanku.kulonprogokab.go.id/Landingpage/detail_harga/17',
    'https://ikanku.kulonprogokab.go.id/Landingpage/detail_harga/19',
    'https://ikanku.kulonprogokab.go.id/Landingpage/detail_harga/20'
]

for url in urls:
    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')
    table = soup.find('table')
    rows = table.find_all('tr')
    for row in rows[1:]:
        link = row.find_all('a')[-1]['href']
        print(link)

https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/1/1
https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/1/2
https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/1/3
https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/25/1
https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/25/3
https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/3/3
https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/4/3
https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/18/1
https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/6/1
https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/6/2
https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/6/3
https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/5/1
https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/5/3
https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/21/1
https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/21/2
https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/21/3
https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/8/3
https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/10/1
https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/10/2
https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/10/3
https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/12/1
https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/12/3
https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/11/3
https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/22/1
https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/22/2
https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/22/3
https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/23/1
https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/23/3
https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/24/1
https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/24/2
https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/24/3
https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/14/3
https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/16/1
https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/15/1
https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/15/2
https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/15/3
https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/17/1
https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/17/2
https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/17/3
https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/19/1
https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/19/3
https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/20/1
https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/20/2
https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/20/3

In [ ]:
# List of URLs to scrape
urls = [
    "https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/1/1",
    "https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/1/2",
    "https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/1/3",
    "https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/25/1",
    "https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/25/3",
    "https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/3/3",
    "https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/4/3",
    "https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/18/1",
    "https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/6/1",
    "https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/6/2",
    "https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/6/3",
    "https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/5/1",
    "https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/5/3",
    "https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/21/1",
    "https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/21/2",
    "https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/21/3",
    "https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/8/3",
    "https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/10/1",
    "https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/10/2",
    "https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/10/3",
    "https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/12/1",
    "https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/12/3",
    "https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/11/3",
    "https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/22/1",
    "https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/22/2",
    "https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/22/3",
    "https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/23/1",
    "https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/23/3",
    "https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/24/1",
    "https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/24/2",
    "https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/24/3",
    "https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/14/3",
    "https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/16/1",
    "https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/15/1",
    "https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/15/2",
    "https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/15/3",
    "https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/17/1",
    "https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/17/2",
    "https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/17/3",
    "https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/19/1",
    "https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/19/3",
    "https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/20/1",
    "https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/20/2",
    "https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/20/3",
]

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Define the URL to scrape
url = "https://ikanku.kulonprogokab.go.id/Landingpage/riwayat_harga/1/1"

# Send a request to the URL and get the response
response = requests.get(url)

# Use BeautifulSoup to parse the HTML content of the page
soup = BeautifulSoup(response.content, "html.parser")

# Find the title and table data on the page
title = soup.find("div", class_="section-title")
ikan = ""
pasar = ""
ikan = title.find_all("p")[0].text.split('"')[1].replace("ikan ", "")
pasar = title.find("p").get_text().split('Pasar "')[1].split('"')[0]
table = soup.find("table")

# Extract the data from the table and store it in a list of dictionaries
data = []
for row in table.find_all("tr")[1:]:
    cols = row.find_all("td")
    data.append({
        "Tanggal": cols[1].text.strip(),
        "Nama Ikan": ikan,
        "Nama Pasar": pasar,
        "Harga": cols[2].text.strip(),
    })

# Convert the list of dictionaries to a Pandas DataFrame
df = pd.DataFrame(data)

# Print the resulting DataFrame
print(df)

      Tanggal Nama Ikan Nama Pasar      Harga
0  2023-01-02   Bandeng      Galur  Rp 30.000
1  2022-12-07   Bandeng      Galur  Rp 30.000
2  2022-11-01   Bandeng      Galur  Rp 30.000
3  2022-09-05   Bandeng      Galur  Rp 30.000
4  2022-08-02   Bandeng      Galur  Rp 31.000
5  2022-06-10   Bandeng      Galur  Rp 35.000

In [ ]:
df

      Tanggal Nama Ikan Nama Pasar      Harga
0  2023-01-02   Bandeng      Galur  Rp 30.000
1  2022-12-07   Bandeng      Galur  Rp 30.000
2  2022-11-01   Bandeng      Galur  Rp 30.000
3  2022-09-05   Bandeng      Galur  Rp 30.000
4  2022-08-02   Bandeng      Galur  Rp 31.000
5  2022-06-10   Bandeng      Galur  Rp 35.000

In [ ]:
def scrape_data(urls):
    data = []

    for url in urls:
        # Send a request to the URL and get the response
        response = requests.get(url)

        # Use BeautifulSoup to parse the HTML content of the page
        soup = BeautifulSoup(response.content, "html.parser")

        # Find the title and table data on the page
        title = soup.find("div", class_="section-title")
        ikan = title.find_all("p")[0].text.split('"')[1].replace("ikan ", "")
        pasar = title.find("p").get_text().split('Pasar "')[1].split('"')[0]
        table = soup.find("table")

        # Extract the data from the table and store it in a list of dictionaries
        for row in table.find_all("tr")[1:]:
            cols = row.find_all("td")
            harga_text = cols[2].text.strip().replace(".", "")  # Remove thousand separators
            harga_numerical = int("".join(filter(str.isdigit, harga_text)))  # Extract numerical part
            data.append({
                "Tanggal": cols[1].text.strip(),
                "Nama Ikan": ikan,
                "Nama Pasar": pasar,
                "Harga": harga_numerical,
            })

    # Convert the list of dictionaries to a Pandas DataFrame
    df = pd.DataFrame(data)
    return df

desired_df = scrape_data(urls)

In [ ]:
desired_df

        Tanggal     Nama Ikan Nama Pasar  Harga
0    2023-01-02       Bandeng      Galur  30000
1    2022-12-07       Bandeng      Galur  30000
2    2022-11-01       Bandeng      Galur  30000
3    2022-09-05       Bandeng      Galur  30000
4    2022-08-02       Bandeng      Galur  31000
..          ...           ...        ...    ...
207  2022-11-08  Udang Vaname    Sentolo  71000
208  2022-10-03  Udang Vaname    Sentolo  71000
209  2022-09-02  Udang Vaname    Sentolo  70000
210  2022-08-01  Udang Vaname    Sentolo  70000
211  2022-06-07  Udang Vaname    Sentolo  70000

[212 rows x 4 columns]

In [ ]:
# Specify the desired filename for the CSV file
filename = 'desired_df.csv'

# Save the DataFrame as a CSV file
desired_df.to_csv(filename, index=False)

print(f"CSV file '{filename}' created successfully.")

CSV file 'desired_df.csv' created successfully.

# Data Center PDSPKP

In [ ]:
import requests
import pandas as pd
import numpy as np

url = 'https://datacenterpds.id/priceList'
response = requests.get(url)

json_data = response.json()
df = pd.json_normalize(json_data['data'])
df['harga'] = df['harga'].str.replace(',', '').astype(int)
df['tanggal_input'] = pd.to_datetime(df['tanggal_input'])

In [ ]:
df

,provinsi,kabupaten,nama_ikan,nama_latin,harga,tanggal_input,nama_pasar
0,JAWA BARAT,Kota Sukabumi,mas,Cyprinus carpio,28000,2022-03-04 20:27:08,PASAR PELITA / STASIUN TIMUR
1,JAWA BARAT,Kota Sukabumi,nila tilapia,Oreochromis\nniloticus,30000,2022-03-04 20:28:11,PASAR PELITA / STASIUN TIMUR
2,JAWA BARAT,Kota Sukabumi,lele,Clarias batrachus,24000,2022-03-04 20:29:59,PASAR PELITA / STASIUN TIMUR
3,JAWA BARAT,Kota Sukabumi,nila tilapia,Oreochromis\nniloticus,30000,2022-03-04 20:34:18,PASAR PELITA / STASIUN TIMUR
4,JAWA BARAT,Kota Sukabumi,lele,Clarias batrachus,24000,2022-03-04 20:37:02,PASAR PELITA / STASIUN TIMUR
...,...,...,...,...,...,...,...
43742,DKI JAKARTA,Kota Jakarta Utara,tongkol\nkomo,Euthynnus affinis,23000,2023-02-16 08:39:48,PASAR IKAN MODERN MUARA BARU
43743,DKI JAKARTA,Kota Jakarta Utara,cakalang,Katsuwonus\npelamis,24000,2023-02-16 08:40:19,PASAR IKAN MODERN MUARA BARU
43744,DKI JAKARTA,Kota Jakarta Utara,tenggiri,Scomberomorus\ncommerson,55000,2023-02-16 08:40:46,PASAR IKAN MODERN MUARA BARU
43745,DKI JAKARTA,Kota Jakarta Utara,remis hijau,Perna viridis,10000,2023-02-16 08:43:23,PASAR IKAN MODERN MUARA BARU
43746,DKI JAKARTA,Kota Jakarta Utara,kerang darah,Anadara oceanica,30000,2023-02-16 08:46:20,PASAR IKAN MODERN MUARA BARU

In [ ]:
sliced_df = df.loc[df['nama_pasar'] == 'PASAR IKAN MODERN MUARA BARU']
sliced_df = sliced_df.loc[sliced_df['nama_ikan'].isin(['kembung\nlelaki', 'tongkol abu-abu', 'tenggiri', 'bandeng', 'tongkol\nkomo'])]
sliced_df['nama_ikan'] = sliced_df['nama_ikan'].str.replace('\n', ' ')
sliced_df.drop(['provinsi', 'kabupaten', 'nama_latin', 'nama_pasar'], axis=1, inplace=True)
sliced_df

            nama_ikan  harga       tanggal_input
1417   kembung lelaki  35000 2022-03-18 11:36:42
1641   kembung lelaki  28000 2022-03-19 11:53:54
1644     tongkol komo  35000 2022-03-19 11:56:11
1648          bandeng  28000 2022-03-19 12:01:36
1658   kembung lelaki  38000 2022-03-19 12:10:11
...               ...    ...                 ...
43730        tenggiri  53000 2023-02-15 09:08:16
43732         bandeng  28000 2023-02-15 09:09:08
43733  kembung lelaki  34000 2023-02-15 09:09:47
43742    tongkol komo  23000 2023-02-16 08:39:48
43744        tenggiri  55000 2023-02-16 08:40:46

[4743 rows x 3 columns]

In [ ]:
# Function to apply outlier filter using z-score method
def outlier_filter_zscore(df, column_name, threshold=3):
    z_scores = np.abs((df[column_name] - df[column_name].mean()) / df[column_name].std())
    filtered_df = df[z_scores <= threshold].copy()
    return filtered_df

# Apply outlier filter to DataFrame
filtered_df = outlier_filter_zscore(sliced_df, 'harga', threshold=3)
indexes = filtered_df[(filtered_df['harga'] < 10000)].index
filtered_df.drop(indexes , inplace=True)

In [ ]:
filtered_df.sort_values(by=['harga'])

          nama_ikan  harga       tanggal_input
33698  tongkol komo  18000 2022-10-25 09:43:28
33867  tongkol komo  18000 2022-10-26 10:18:32
33473  tongkol komo  18000 2022-10-24 08:57:30
33401  tongkol komo  18000 2022-10-23 07:02:46
34192  tongkol komo  18000 2022-10-29 09:33:41
...             ...    ...                 ...
39383       bandeng  70000 2022-12-17 08:47:10
5428       tenggiri  70000 2022-04-02 07:32:28
13148      tenggiri  70000 2022-06-03 09:49:40
12988      tenggiri  70000 2022-06-02 09:02:02
30950       bandeng  75000 2022-10-05 11:09:44

[4729 rows x 3 columns]

In [ ]:
filtered_df.sort_values('tanggal_input', inplace=True)
filtered_df['tanggal_input'] = filtered_df['tanggal_input'].dt.date
filtered_df = filtered_df.groupby(['tanggal_input', 'nama_ikan'])['harga'].median().reset_index()
filtered_df['tanggal_input'] = pd.to_datetime(filtered_df['tanggal_input'])

In [ ]:
filtered_df

     tanggal_input       nama_ikan    harga
0       2022-03-18  kembung lelaki  35000.0
1       2022-03-19         bandeng  28000.0
2       2022-03-19  kembung lelaki  33000.0
3       2022-03-19    tongkol komo  35000.0
4       2022-03-20         bandeng  28000.0
...            ...             ...      ...
1285    2023-02-15  kembung lelaki  34000.0
1286    2023-02-15        tenggiri  53000.0
1287    2023-02-15    tongkol komo  23000.0
1288    2023-02-16        tenggiri  55000.0
1289    2023-02-16    tongkol komo  23000.0

[1290 rows x 3 columns]

In [ ]:
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1290 entries, 0 to 1289
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tanggal_input  1290 non-null   datetime64[ns]
 1   nama_ikan      1290 non-null   object
 2   harga          1290 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 30.4+ KB

In [ ]:
# Specify the desired filename for the CSV file
filename = 'data-center-pds.csv'

# Save the DataFrame as a CSV file
df.to_csv(filename, index=False)

print(f"CSV file '{filename}' created successfully.")

CSV file 'data-center-pds.csv' created successfully.

In [ ]:
import requests
import pandas as pd
import numpy as np
from google.cloud import storage

def outlier_filter_zscore(df, column_name, threshold=3):
    z_scores = np.abs((df[column_name] - df[column_name].mean()) / df[column_name].std())
    filtered_df = df[z_scores <= threshold].copy()
    return filtered_df

def save_json_to_csv(request):
    url = 'https://datacenterpds.id/priceList'
    json_data = requests.get(url).json()
    df = pd.json_normalize(json_data['data'])
    df['harga'] = df['harga'].str.replace(',', '').astype(int)
    df['tanggal_input'] = pd.to_datetime(df['tanggal_input'])
    df = df.loc[df['nama_pasar'] == 'PASAR IKAN MODERN MUARA BARU']
    df = df.loc[df['nama_ikan'].isin(['kembung\nlelaki', 'tongkol abu-abu', 'tenggiri', 'bandeng', 'tongkol\nkomo'])]
    df['nama_ikan'] = df['nama_ikan'].str.replace('\n', ' ')
    df.drop(['provinsi', 'kabupaten', 'nama_latin', 'nama_pasar'], axis=1, inplace=True)
    df = outlier_filter_zscore(sliced_df, 'harga', threshold=3)
    indexes = df[(df['harga'] < 10000)].index
    df.drop(indexes , inplace=True)
    df.sort_values('tanggal_input', inplace=True)
    df['tanggal_input'] = df['tanggal_input'].dt.date
    df = df.groupby(['tanggal_input', 'nama_ikan'])['harga'].median().reset_index()
    df['tanggal_input'] = pd.to_datetime(df['tanggal_input'])
    client = storage.Client()
    bucket_name = 'my_personal_bucket_1'
    bucket = client.get_bucket(bucket_name)
    blob = bucket.blob('data_harga_pds.csv')
    blob.upload_from_string(df.to_csv(index=False), 'text/csv')

    return 'Data saved successfully!'

In [ ]:
import sys
print("Python version")
print (sys.version)
print("Version info.")
print (sys.version_info)

Python version
3.10.11 (main, Apr  5 2023, 14:15:10) [GCC 9.4.0]
Version info.
sys.version_info(major=3, minor=10, micro=11, releaselevel='final', serial=0)